.center-text {
    text-align: center;
}
html, body {
    height: 100%; /* Ensure the HTML and body take up the full viewport height */
}

.scrollable-content {
    min-height: 100%;
    overflow-y: auto;
}
h1 {
    color: red;
    font-size: 100px;
    font-family:  "Brush Script MT", cursive ;
}
p {
    font-size: 50px;
}
body {
    background-image: url('Keittokirja-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.custom-image {
    width: 30px; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    margin-right: 100px; /* Add a margin to the right to push it to the left */
}