.center-text {
    text-align: center;
}
h1 {
    color: green;
    font-size: 100px;
    font-family:  "Brush Script MT", cursive ;
}
p {
    font-size: 50px;
}
body {
    background-image: url('Keittokirja-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}