* {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.center-text {
    text-align: center;
}
html, body {
    height: 100%;
}

.scrollable-content {
    min-height: 500%;
    overflow-y: auto;
}
h1 {
    color: red;
    font-size: 100px;
    font-family:  "Brush Script MT", cursive ;
}
p.center-text {
    color: red;
    font-size: 50px;
}
.background-image {
    width: 100%;
    height: 100vh;
    background-image: url(Keittokirja-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    z-index: -1;
}
.image-description {
    font-size: 30px;
}
.custom-image {
    width: 300px;
    height: auto;
    display: block;
}
.image1 {
    margin: 0 auto;
    margin-left: 100px;
}
.image2 {
    margin: 0 auto;
    margin-left: 100px;
}
.image3 {
    margin: 0 auto;
}
.image4 {
    margin: 0 auto;
}
.recipe-instructions {
    font-weight: bold;
    margin-top: 10px;
}

.recipe-list {
    list-style: disc;
    margin-left: 20px;
}

.recipe-instructions, .recipe-list {
    color: purple;
    font-size: 40px;
}

#recipe-dropdown {
    font-family: Arial, sans-serif;
    font-size: 45px;
}
